:root {
    --bg-color: #1e1e2f;
    --card-bg-color: #2b2b3d;
    --text-color: #ffffff;
    --secondary-text-color: #a1a1c1;
    --shadow-color: rgba(0, 0, 0, 0.5);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}


.list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px var(--shadow-color);
    color: var(--text-color);
}

.name {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
}

.balance {
    font-size: 16px;
    margin-bottom: 12px;
    color: var(--secondary-text-color);
}

.changes-container {
    display: flex;
    justify-content: space-between;
}

.change {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.change span {
    color: var(--secondary-text-color);
}

.change span:last-child {
    font-weight: bold;
}

/* Positive and negative change colors */
.change span:last-child.positive {
    color: var(--up);
}

.change span:last-child.negative {
    color: var(--down);
}